{% extends "::base.html.twig" %}
{% block title %}Echec {% endblock %}
{% block body %}
<a href="{{ path('jeu_echec_echiquier_homepage') }}">Accueil </a><br/><br/>
<a href="{{ path('jeu_echec_echiquier_plateau') }}">Nouvelle Partie </a><br/><br/>
<table>
	<tr>
		<th></th>
		<th>A</th>
		<th>B</th>
		<th>C</th>
		<th>D</th>
		<th>E</th>
		<th>F</th>
		<th>G</th>
		<th>H</th>
		<th></th>
	</tr>
	
	{% for i in 1..8 %}
		<tr><th>&nbsp;{{ i }} &nbsp;</th>
			{% for n in 0..7 %}
				<td {% if matrice.get(i, n).estEnDanger() == 'true' %} class="caseBleu" onclick="document.getElementById('{{ i }}{{ n }}').click();" {% endif %} >
					<a href="{{ matrice.get(i, n).lien() }}" id="{{ i }}{{ n }}">
						{% if matrice.get(i, n).toString != 'vide' %}
							<img src="{{ asset('bundles/framework/images/'~matrice.get(i, n).toString) }}" width="70" height="70" />
						{% endif %}
					</a>
				</td>
			{% endfor %}
		<th>&nbsp;{{ i }} &nbsp;</th>
		</tr>
	{% endfor %}
	<tr>
		<th></th>
		<th>A</th>
		<th>B</th>
		<th>C</th>
		<th>D</th>
		<th>E</th>
		<th>F</th>
		<th>G</th>
		<th>H</th>
		<th></th>
	</tr>
</table>
{% endblock %}
