{% extends "::base.html.twig" %}
{% block title %}Echec {% endblock %}
{% block body %}
<a href="{{ path('jeu_echec_echiquier_homepage') }}">Retour au menu </a>
<h1>Une partie d'Echec</h1>
<table>
<tr><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td><td>H</td></tr>
	{% for i in 1..8 %}
	<tr>{% for n in 0..7 %}
			{% if i % 2 == 0 %}
				{% if n % 2 == 0 %}
					{% if matrice.get(i, n).estEnDanger() == 'true' %}<td class="caseBleu">{{ matrice.get(i, n).toString }}</td>
					{% else %}<td class="caseNoire"><a href="{{ matrice.get(i, n).lienString() }}">{{ matrice.get(i, n).toString()}}</a></td>
					{% endif %}		
				{% else %}
					{% if matrice.get(i, n).estEnDanger() == 'true' %}<td class="caseBleu">{{ matrice.get(i, n).toString }}</td>
					{% else %}<td class="caseBlanche"><a href="{{ matrice.get(i, n).lienString() }}">{{ matrice.get(i, n).toString() }}</a></td>
					{% endif %}
				{% endif %}
			{% else %}
				{% if n % 2 == 0 %}
					{% if matrice.get(i, n).estEnDanger() == 'true' %}<td class="caseBleu">{{ matrice.get(i, n).toString }}</td>
					{% else %}<td class="caseBlanche"><a href="{{ matrice.get(i, n).lienString() }}">{{ matrice.get(i, n).toString() }}</a></td>
					{% endif %}
				{% else %}
					{% if matrice.get(i, n).estEnDanger() == 'true' %}<td class="caseBleu">{{ matrice.get(i, n).toString }}</td>
					{% else %}<td class="caseNoire"><a href="{{ matrice.get(i, n).lienString() }}">{{ matrice.get(i, n).toString() }}</a></td>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}</tr>
	{% endfor %}</table>
{% endblock %}